[2017-08-31 21:45] wkc1986 opened #1 "JSD() gives NaN when any probability is 0"
[code]

[2017-09-07 12:27] HajkD commented on #1
Hi @wkc1986

Thank you so much for pointing this out to me!

I will fix this issue and will come back to you soon.

Kind regards,
Hajk

[2017-09-11 19:04] wkc1986 commented on #1
Think I fixed this in my branch by editing `jensen_shannon()` and `jensen_difference()` in `distances.h`. I'd be grateful if you could test!

[2017-09-12 13:39] HajkD commented on #1
Sounds perfect! :D
Thank you very much for finding the bug!
Could you send me a pull request with your fix and then I can merge your branch.

Kind regards,
Hajk

[2017-09-13 15:33] HajkD commented on #1
Hi @wkc1986

Thank you so much for sending me the pull request.
I now checked your code and found the bug thanks to your code.

The problem was that in the Rcpp function `jensen_shannon()`  I was overwriting the variable `sum1` twice, e.g.:

[code]

However, it should have been:

[code]

I now fixed this issue.

In addition, I only tested the case when `P(x_i) == 0 AND Q(y_i) == 0` but not the cas

[2017-09-13 15:33] #1 closed

[2017-09-13 18:03] wkc1986 commented on #1
Glad to be of help! By the way, this isn’t a bug but I was wondering why you have both the `jensen_shannon()` and `jensen_difference()` implementations of the JSD? They seem to be equivalent?

[2017-09-14 09:41] HajkD commented on #1
You are absolutely right, I think it happened due to historical reasons because I didn't have the capacity to develop this package continuously. So it might have happened that at the time I didn't see the equivalence, because in the literature sometimes you find the same formula published independently using two different names. In the future, I will try to remove one of them, but for now I stick

[2017-09-18 08:31] SamGG opened #3 "Typo"
Thanks for your rich package.
I guess you might correct or explain the formula of the Gower distance.
Gower : d=1/d∗∑|Pi−Qi|
d is present in both sides.
Best.

[2017-09-18 13:16] HajkD commented on #3
Hi @SamGG

I am very happy to hear that you find `philentropy` useful. I hope that I can continue working on it at the end of this year :)

Thank you so much for pointing this typo out to me!

I now corrected it and write:

Gower : $d = 1/N * \sum | P_i - Q_i |$, where $N$ is the total number of elements $i$ in $P_i$ and $Q_i$

I hope this is fine now. I would be very grateful if you could point o

[2017-09-18 13:16] #3 closed

[2017-09-18 14:10] SamGG commented on #3
Thanks for your kind answer. I will do my best.

[2018-04-27 18:00] wkc1986 opened #4 "JSD() gives wrong value when some element == 0"
Sorry to be a bother again. I'm using the GitHub version. Comparing against a test JSD function in base R, as well as calculations using `H()` and `gJSD()`, only `JSD()` gives a different result:

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2018-05-01 15:50] HajkD commented on #4
Hi @wkc1986,

Thank you so so much for pointing out this issue and I will immediately have a look at it.
This clearly shouldn't happen and it seems that my unit tests didn't catch this...

I will start debugging now and will come back to you soon.

Please feel free to send me any other issue you might find.

Many thanks and best wishes,
Hajk

[2018-05-04 16:30] HajkD commented on #4
Hi @wkc1986,

I found the bug and fixed it.

The problem was the following:

In the initial `Rcpp` function `jensen_shannon()` I handled `0 values` in vectors as following:

[code]

The problem was that I only consider the case `P[i] == 0.0) || (Q[i] == 0.0)`. Meaning that either `P[i] == 0` __OR__ `Q[i] == 0`. I didn't consider the cases where `P[i] == 0.0) && (Q[i] == 0.0)` or where `PQsum == 0`

[2018-05-04 16:30] #4 closed

[2018-05-04 20:02] wkc1986 commented on #4
Glad to be of help! Your package is the fastest way I know of to calculate JSD matrices and generalized JSD in R, so I'm happy to see it ticking.

[2018-05-10 16:33] wkc1986 opened #5 "typo in JSD() help"
This states that columns should be distributions in the input matrix, but the function uses the rows as distributions.

[2018-05-14 08:11] HajkD commented on #5
Dear @wkc1986

This is absolutely correct!

This is clearly a typo :)

I now fixed it and also fixed the corresponding copy/paste typos in `gJSD()` and the Vignette examples.

Many many thanks for pointing this out to me.

This really helps a lot :)

Best wishes,
Hajk

[2018-05-14 08:11] #5 closed

[2018-06-06 10:56] leeper opened #6 "Please confirm the journal for this citation"
I'm not sure this is the correct journal name: https://github.com/HajkD/philentropy/blob/master/paper.bib#L4

[2018-06-06 11:32] leeper commented on #6
The journal appears to have a different title according to the PDF (http://csis.pace.edu/ctappert/dps/d861-12/session4-p2.pdf), specifically the journal listed here: http://www.naun.org/main/NAUN/ijmmas/2007.htm. I think the Google Scholar citation is an error and it should be International Journal of Mathematical Models and Methods in Applied Science.

[2018-06-06 13:42] HajkD commented on #6
Dear @leeper,

Thank you so much for doing the research. I revised the reference accordingly and pushed in to GitHub.

I hope everything else looks fine now?

Kind regards,
Hajk

[2018-06-06 15:09] #6 closed

[2018-06-06 18:00] wkc1986 opened #7 "JSD() stack overflow with many rows"
I'm trying to figure this out myself, but no luck yet.

[code]

[code]

[2018-06-07 14:35] kellieotto opened #8 "Missing LICENSE file"
This is detailed feedback for your JOSS review openjournals/joss-reviews#765.

I see that your code and DESCRIPTION contain GPL license info. This is great. JOSS requires you to have a plain-text LICENSE file, in your main repository, with the contents of your chosen software license.

[2018-06-07 15:00] kellieotto opened #9 "Performance claims in the distance vignette"
This is detailed feedback for your JOSS review openjournals/joss-reviews#765.

I was able to replicate everything except the last bit using `microbenchmark` to time the different functions. The problem is with running `euclidean`. If I run the code as written I get the error

[code]

If I add `philentropy::` before the function call, I get a different error.

[code]

[2018-06-07 19:22] HajkD commented on #8
Dear Kellie,

Many thanks for making me aware of the missing license.
I now added a GLP-2 license file according to JOSS policy.

Kind regards,
Hajk

[2018-06-07 19:41] HajkD commented on #9
Dear Kellie,

I am very sorry for the confusion.  There were missing `'` in my comments (see file `src/distances.h`) so that the `roxygen` package did not automatically export my functions to the `philentropy` namespace.
Since in my developer environment, these functions were defined I could use them, so I didn't
see this issue.

Thus, all I had to do was to exchange the comments:

[code]

by

[co

[2018-06-09 15:38] #8 closed

[2018-06-09 15:41] kellieotto commented on #9
It works now when I install the version on GitHub. Just make sure to update the CRAN version eventually!

[2018-06-09 15:41] #9 closed

[2018-06-11 17:33] elbamos commented on #7
I'm seeing something that I suspect is related.  I run `JSD` in a loop, each time generating a 500x500 matrix of distances.  After the loop completes, within about 30 seconds I get the `C stack overflow` error.  I'm seeing this on both OS X and Ubuntu 16.04.

[2018-06-11 18:21] HajkD commented on #7
Dear @elbamos

Thank you very very much for making me aware of this.
Yes, I also think that it is related and I think I can fix it :)

I am very sorry for the inconvenience it might have caused.

Kind regards,
Hajk

[2018-06-11 21:04] elbamos commented on #7
No problem :)

BTW - you know in C you can refer to a function by a pointer.  If you did that with `custom_log`, it would probably simplify a lot of your code.  You'd have a single function that takes the log argument and returns a pointer to the C function, that you'd then pass to the respective distance functions.

[2018-06-13 11:43] HajkD commented on #7
Dear all,

as I predicted the issue was in the Rcpp functions `DistMatrixWithUnitMAT()` and `DistMatrixWithoutUnitMAT()` in file `src/dist_matrix.cpp`.

The problem was that Rcpp doesn't allow efficiently passing functions as an argument of another function. You can find a detailed discussion here:

https://stackoverflow.com/questions/27391472/passing-r-function-as-parameter-to-rcpp-function

@elb

[2018-06-13 18:22] wkc1986 commented on #7
Confirm dev version working for my (actual) application. Thanks so much as always for your responsiveness @HajkD !

[2018-06-13 18:59] elbamos commented on #7
@HajkD I can take a look this weekend.  I can also tell you that, to solve my issue, I cut-and-pasted the JS function and DistMatrixWithUnitMAT() into another file and took out the function pointer, and that solved it.  (That was my guess about what was causing it.)

Regarding function pointers, I actually wasn't referring to the passing of Rcpp functions, which always seemed like voodoo to me.  I

[2018-06-22 08:28] KaiserDominici opened #10 "KL distance returns NaN when P == 0"
Example: `philentropy::KL(rbind(0, 0.5))` returns NaN on my system.

[code]
Thanks for looking into this.

K.

[2018-06-23 11:20] HajkD commented on #10
Dear @KaiserDominici

Thank you so much for making me aware of this bug.

I could reproduce it and will look into it immediately.

Kind regards,
Hajk

[2018-06-23 11:22] HajkD commented on #7
Hi @elbamos,

This is a great suggestion.

I would truly appreciate it if you could look into this and whatever makes it easier for me to maintain the code the happier I am of course :)

Many thanks for helping me on this one!

Cheers,
Hajk

[2018-06-23 12:43] HajkD commented on #10
Hi,

I fixed the issue and now `KL()` will return `0` as supposed to when P == 0.

Here the examle:

[code]

[code]

Please let me know if it now works out for you.

Many thanks and kind regards,
Hajk

[2018-06-25 12:04] KaiserDominici commented on #10
I cannot install GitHub sources on my machine, is there any other way for me to check?

Thanks,

k.

[2018-06-25 12:37] KaiserDominici commented on #10
Works like a charm, thank you!

Best wishes,

K.

[2018-06-25 12:37] #10 closed

[2018-06-25 18:30] elbamos commented on #7
@HajkD

Sorry I haven't had a chance to test the new code yet; I had extracted the relevant code into a separate file and I've been using that.

In terms of using a function pointer:

[code]

Not fully tested, but you get the idea.

[2018-06-25 18:49] elbamos commented on #7
Also, you can buy a performance improvement in the loops with:

[code]

[2018-06-26 01:32] elbamos commented on #7
The function pointer idea works even better if you do the if..then in the exported function and pass the function pointer as a parameter to all of your distance functions.

Also you don't need to check that the columns are the same size each time the distance function is called -- they come from a matrix, so they have to be the same size.

(Actually it would be better to map2 them using C++11, but

[2018-06-26 13:04] HajkD commented on #7
Dear @elbamos,

These are absolutely amazing suggestions!!!
Thank you so so much for taking the time to help me improve the speed of computations.

I will start working on incorporating your approaches and am more than happy for any further improvements :)

Many many thanks,
Hajk

[2018-06-26 22:02] elbamos commented on #7
BTW - it shouldn't be terribly hard to get this working with OpenMP.  I put an hour or two into it but kept getting seg faults and don't have the time to track them down.  But its "embarassingly parallel", as they say.

[2018-09-20 09:40] jkapila opened #11 "Extension of distance calculation to two arrays"
Hey Hajk,

Really thanks for implementing these measures as a package in R.

I have a case where I want to use these distances for calculating distance between two different arrays. This is case where I want to use these *distances as feed for KNN implementations*.

What I tried was by "rbind" the two data and the calculate distances and then removing the rows and columns by index. But this is ver

[2018-09-20 13:14] jkapila commented on #11
Code snippet for what I attempted:
[code]

[2018-09-30 10:47] HajkD commented on #11
Hi @jkapila,

Thank you very much for your example code and sorry for my late response, I was on holidays.

I will have a look at it and see if I can speed it up.

I will keep you posted :)

Many thanks,
Hajk

[2018-10-17 12:42] lwjohnst86 opened #12 "Examples of using distance function on real data?"
Love this package, really nicely done. However, I'm struggling to understand how to use these functions on actual real data. The documentation mentions "probability vectors" for x, but never actually shows how to use the functions on real data with real-world values. Any suggestion on how to go about converting real data to these probability vectors? And how this might change based on the distance

[2018-10-17 18:20] wkc1986 commented on #12
I think for most use cases you'd want to convert the data to a count vector, where each element is the number of times the variable has that discrete value in your data set. For continuous variables you'd want to discretize it and basically make a histogram for each data set with the same bin edges. For distances that work with probabilities instead of counts, divide the count vector by the sum of

[2018-10-21 17:36] HajkD commented on #12
Hi Luke,

I am very happy that you find `philentropy` useful.

I am more than happy to help you better understand how to use the package on particular types of data.

Would it be possible that you send me an example `real world` dataset that you usually work with
so that I can better construct an example that you might find useful?

Many thanks for your feedback, I truly appreciate it!

Cheers,
Ha

[2018-10-31 05:19] jkapila commented on #11
Any updates / plans on this @HajkD ..??

[2018-10-31 11:01] HajkD commented on #11
Hi @jkapila,

Could you please provide me with a small working example of an input and output dataset as well as an example workflow that you are interested in?

I am sorry, but I am not sure what you mean when you say

Do you want to compute a distance matrix from an input matrix?

For example, you could do the following:

[code]

[code]

In case I misunderstood you, please specify in greater det

[2018-11-04 14:53] ChrisNeefus opened #13 "Compatibility with hclust"
First, thank for creating the package. Distance measure option had been quite limited.
My issue is that the distance matrix built by distance() doesn't seem to be compatible with hclust.  If I display the matrix, it looks fine, but when I ask hclust to cluster it I get:
Error in if (is.na(n) || n > 65536L) stop("size cannot be NA nor exceed 65536") :
  missing value where TRUE/FALSE needed
So this

[2018-11-04 17:30] HajkD commented on #13
Hi Chris,

Many thanks for contacting me and for pointing out this limitation.

I will have a look at this and will come back to you soon.

Your feedback is highly appreciated :-)

Cheers,
Hajk

[2018-11-12 09:20] #11 closed

[2018-11-13 19:11] lwjohnst86 commented on #12
Hey, sorry the late reply.

A fake, toy example might be where there are 2 assessments for a disease that have questions that are either binary or three levels and another assessment that uses a measure that gives a continuous value. So the toy, fake data is here:
[toy_data.txt](https://github.com/HajkD/philentropy/files/2577653/toy_data.txt)

The data has two questionnaire based assessments (`mtc

[2018-11-18 19:19] TylerGrantSmith commented on #12
I am currently incorporating this package into a tool for monitoring SQL tables.  In particular, I want to track covariate shift which may be impacting models, and identify ETL problems that today aren't being caught until potentially months after the data is loaded.

[2018-12-07 12:16] vrodriguezf opened #14 "About generalised Jensen Shannon Divergence (gJSD)"
Hi,

I have two questions about the gJSD() function.

1. How does it work internally? Is there any reference that defines this measure? Is it just an aggregation?

2. Taking a look at the code of the function `gJSD()`, I can see that `nDistributions <- ncol(x)` and  `nElements <- nrow(x)`. However, the example in the function help page uses the matrix `Prob`, defined as:
[code]

This matrix is a 3

[2018-12-12 14:00] HajkD commented on #14
Hi Víctor,

Many thanks for making me aware of this issue.

Regarding your first question:

Yes, I implemented this metric according to the following reference:

Lin 1991 -> https://www.cise.ufl.edu/~anand/sp06/jensen-shannon.pdf (see page 149)

Regarding your second question, I will have a look at whether or not it is a bug. It has been 3 years since I implemented this function. Thus, I need to m

[2018-12-12 14:36] vrodriguezf commented on #14
Thank you for the reference @HajkD , I look forward to your reply. You did a great job in this package!

[2019-01-22 16:33] JonasMandel opened #15 "NaN distance for binary vectors of 0"
Hi,

I have encountered some (probably) unwanted behaviorofthe function distance: when computing the distance beween two vectors of 0 (in the context of binary data) with some distances adapted for binary data (e.g.Jaccard or Tanimoto), the computed value is NaN:
[code]

Shouldn't this distance be equal to 0 ?

This occured in a dataset of binary data on which I want to perform hierarchical cluste

[2019-01-24 18:33] HajkD commented on #15
Hi Jonas,

Many thanks for contacting me and making me aware of this case.

I revisited the paper (http://csis.pace.edu/ctappert/dps/d861-12/session4-p2.pdf) I used as a reference to implement all measures and would, in this case, follow the argument raised in the technical part that
`0/0 = 0`.

distance/similarity measures presented in this section will face
some technical problems. Table 9 ident

[2019-02-09 11:25] Nowosad commented on #13
@ChrisNeefus ,
I think you need to convert the `distance()` output to `dist` first:

[code]

[2019-02-12 18:08] HajkD commented on #14
Hi Víctor,

I am very sorry that it took me so long to come back to you, but I now resolved the issue.

In the old version of `philentropy` (the one you were using) the documentation was wrong.

Instead of

[code]

it should have been

[code]

Thus, I swapped `rbind()` and `cbind()`.

However, since in all other examples of all other functions I use `rbind()` and not `cbind()` as example input, to

[2019-02-12 18:08] #14 closed

[2019-02-12 18:51] HajkD commented on #15
Hi Jonas,

I now added the rule for `distance( ... , method = "jaccard")` and `distance( ... , method = "tanimoto")` that when probability vectors contain zeros then the function returns a `0` rather than `NAN`.

Please be aware that according to `Cha (2007)` (http://csis.pace.edu/ctappert/dps/d861-12/session4-p2.pdf) the Jaccard similarity (see formula `(28)`) is implemented and not the Jaccard d

[2019-02-12 18:51] #15 closed

[2019-02-12 18:56] HajkD commented on #13
Hi @Nowosad,

Thank you so much for clarifying this. You are absolutely correct.

This trick should resolve this issue.

Many many thanks and kind wishes,
Hajk

[2019-02-12 18:56] #13 closed

[2019-02-12 19:50] Nowosad commented on #13
Thanks for the package @HajkD !

[2019-02-13 10:10] vrodriguezf commented on #14
Awesome, thank you for those changes @HajkD !

[2019-02-13 11:56] HajkD commented on #12
Hi all,

Sorry for my late reply and thank you so much for providing a toy example.

This will be very useful for others to learn the package as well.

Using your toy data I constructed the following example:

[code]

[code]

In the future version of `philentropy` I will also implement a new argument `use_col_names` to enable using the column names directly instead of `v_1, ..., v_N`.

Please let

[2019-02-13 11:56] #12 closed

[2019-02-25 15:22] surmann commented on #11
Hallo Hajk!

I have the same issue. Currently, I solve it with the package `SpatialTools`. However, there are not that many distances available than in your package.
Here is my current implementation. I want to know all distances between `x` and all points in `y`.

    x = matrix(rnorm(50), ncol = 50)
    y = matrix(rnorm(50*1000), ncol = 50)
    SpatialTools::dist2(x, y)

To the the same result i

[2019-03-10 15:50] HajkD commented on #11
Hi Dirk,

Many thanks for this great comment and example.

So far, I implemented `philentropy` with the sole intention to be able to compare two or multiple distributions with each other. So the functions are not optimized to compare individual points with entire distributions or multidimensional vectors.

Let me see how I can implement something similar to the `SpatialTools` function. If you have

[2019-03-26 13:55] surmann commented on #11
Hallo Hajk,

you're welcome.

For my analysis I need distances between all vectors in a matrix and a vector. This is not the standard case as `stats::dist` etc. don't take it into account.
Do you have any specific questions to implement this?

All best
Dirk

[2019-07-21 02:52] benmiller314 opened #16 "compatibility with data.table"
I have a [`data.table`](https://cran.r-project.org/web/packages/data.table/data.table.pdf) of probability vectors among which to compute distances. The `distance()` function is throwing an error early on:

[code]

But a `data.table` **is** a `data.frame`: `class(DT)` returns `c("data.table", "data.frame")`. Can you update the logic to allow for multiple classes in `x`? I haven't tested to see if s

[2019-07-21 02:53] benmiller314 commented on #16
In the meantime, it's not a burning problem, because I can always just make it explicit with `as.data.frame(DT)`. But I was confused for a while and thought I'd somehow un-data-tabled my data, when I hadn't.

[2019-07-24 13:29] HajkD commented on #16
Hi Ben,

Many thanks for making me aware of this issue. I now added an `any()` check
and also included `data.table` and `tibble` as options.

Let me know if it works for you now.

Best wishes,
Hajk

[2019-08-05 08:04] #16 closed

[2019-09-11 16:26] wkc1986 opened #17 "gJSD() errors if multiple rows have 1 in same column"
Hi, sorry to file so many issues, but here is one:

[code]

[2019-09-11 16:44] HajkD commented on #17
Hi @wkc1986,

Many thanks for letting me know about this!

That is clearly a bug and I will have a look at this and will come back to you soon.

Many thanks,
Hajk

[2019-09-11 17:53] wkc1986 commented on #17
Can confirm is working! Thank you!

[2019-09-11 17:53] #17 closed

[2019-10-18 13:18] tavareshugo opened #18 "make `distance()` more like `dist()`"
Hi @HajkD ,

firstly, thanks so much for this very convenient package! :smiley:

I was  just wondering if `distance()` could make output more like `dist()` function (unless there was a design reason to do it otherwise?). Namely, two things (not mutually exclusive):

- make it such that `distance()` outputs an object of class "dist" (or have an option to do so?)
- make it such that _rownames_ attri

[2019-10-18 13:35] HajkD commented on #18
Hi Hugo,

I hope you are doing well? Many thanks for this request.

Just to clarify, would you prefer something like:

[code]

Or would you prefer to have a custom S3 or S4 class that stores the distance matrix output and which also inherits from the native R `dist()` class?

Regarding the `rownames`, that's no problem at all and I am happy to adjust this.

Many thanks for your feedback and I very

[2019-10-22 06:32] tavareshugo commented on #18
Hi @HajkD ,

Firstly, I just noticed there's an option `use.row.names` in your development version (not the one I installed from CRAN, v0.3.0), so I guess that's taken care of.

I don't think a custom class would be needed, so like you suggested, just also perhaps add attribute with the method used (to fully mimic `stats::dist()`, so:

[code]

The problem is that if you make this the default, then

[2019-10-22 14:57] HajkD commented on #18
Hi Hugo,

absolutely excellent! Thank you very much for this example and for the clarification.

I now added another argument to `philentropy::distance()` named `as.dist.obj` (default `FALSE`) which allows users to return a `stats::dist` object if they wish. In combination with `use.row.names` your extension request should be possible now.

Example:

[code]

[code]

And with `use.row.names = TRUE`

[2019-10-22 16:05] tavareshugo commented on #18
@HajkD , that's super! It's indeed working as I was thinking about :smiley:
Feel free to close the issue, and thanks so much for the addition!

(ps - not sure what's up with your `mtcars` dataset, all columns should be numeric)

[2019-10-22 16:10] HajkD commented on #18
@tavareshugo , brilliant! Many thanks for your request and feedback and I am happy that everything works now.

(ps - lol... I indeed have to find out what happened to my `mtcars` dataset!!!)

[2019-10-22 16:10] #18 closed

[2019-12-23 18:53] wkc1986 opened #19 "gJSD() erroring 'probability distribution does not sum to 1' when they do"
Using this data file: [matrix.txt](https://github.com/HajkD/philentropy/files/3995911/matrix.txt)

[code]

[2019-12-23 20:52] wkc1986 commented on #19
Possible cause: line 18 of `gJSD.R`:

[code]

[2019-12-23 21:08] wkc1986 commented on #19
Sorry, that was CRAN version. GitHub version works fine.

[2019-12-23 21:08] #19 closed

[2020-02-26 10:24] MMriran opened #20 "question abour"

[2020-02-26 10:24] #20 closed

[2020-02-26 10:30] MMriran opened #21 "question about function ‘bhattacharyya‘ in philentropy"
Hi， thank you for your great work on philentropy, it is really useful for us and I had a question to ask.

    I uesed the function ‘bhattacharyya‘ to calculate the Bhattacharyya distance on my own data and then get a negative value.  And according to the formula, the value should be 0≤ BD <∞, is there anything wrong?

[2020-02-26 10:32] HajkD commented on #21
Hi @MMriran,

Many thanks for contacting me and I am very happy to hear that you find `philentropy` useful for your research.

Would it be possible that you construct a little example for me that I can then troubleshoot?

This will speed up the process of debugging or helping figure out what is going on.

Many thanks,
Hajk

[2020-02-26 10:46] MMriran commented on #21
Thank you  for your reply.  I really appreciate your help!

[testdata.zip](https://github.com/HajkD/philentropy/files/4255197/testdata.zip)

[2020-02-26 10:53] MMriran commented on #21
Thank you for your reply.The code for   was ‘distance(x,method="bhattacharyya") ’. I really appreciate your help!
[testdata.zip](https://github.com/HajkD/philentropy/files/4255227/testdata.zip)

[2020-02-26 16:00] HajkD commented on #21
Could you please construct a small dummy example analogous to this one?

[code]

[code]

In your case, is the sum of each input vector `1`?

Thanks!

[2020-02-26 16:13] MMriran commented on #21
Hi, thank you for your reply. I had checked my data and the the sum of each input vector is not equal to 1.  Is the sum of each input vector should be 1？

[2020-02-26 16:16] HajkD commented on #21
Yes, this is the assumption of a probability vector. The `philentropy` package computes distances between probability vectors (= probability distributions).

I hope this helps.

[2020-02-26 16:23] MMriran commented on #21
got it！ thank your for your help！:)

[2020-02-26 16:29] #21 closed

[2020-05-15 18:09] jfsoubliere opened #22 "Feature request -- Calculating distance between two matrices"
Thanks for a fantastic package!

If possible, would you please consider adding the option to calculate the distance between rows of matrix P and rows of a matrix Q? The R package 'pdist' offers this functionality, but only for a very limited set of distance measures.

Best,
JF

[2020-05-15 20:34] HajkD commented on #22
Hi @jfsoubliere

Many thanks for your kind feedback and for this feature request.

Sure, I will have a look at the 'pdist' package and can work on adding this feature.

I will keep you up to date.

Best wishes,
Hajk

[2020-05-18 19:15] jfsoubliere commented on #22
Thank you very much for considering my request, your help is very much appreciated!

[2020-05-23 17:17] buerki opened #23 "cosine_dist calculates similarity"
Hello,
Thanks for putting together this package. Your cosine_dist function in fact calculates similarity rather than difference. This can be confusing, especially since the documentation also says it computes a distance. Perhaps renaming it cosine_sim or making it return 1-cosine similarity might be more transparent.

[2020-05-24 10:10] HajkD commented on #23
Hi Andy,

Thank you for contacting me and for your feedback.

Actually, in the documentation I do differentiate between distance (`d`) and similarity (`s`) measures in the documentation (also for the `cosine similarity` metric): https://drostlab.github.io/philentropy/articles/Introduction.html#inner-product-family

Would it be possible to point me to the documentation where you read `distance` rat

[2020-05-24 10:28] HajkD commented on #23
Do you by any chance mean that the internal low-level function name `philentropy::cosine_dist()` is misleading?

Here, I agree with you, but since I actually intended those functions to be internal rather than externally used, because they were all supposed to be wrapped by the `distance()` function, my logic was to name all internal functions ought to be wrapped by the high-level `distance()` fun

[2020-05-24 10:49] buerki commented on #23
Hello Hajk,

Ah, thanks, I missed the `d` and `s` tags. That does make it clearer. I was indeed referring to the description of the low-level function, both at https://drostlab.github.io/philentropy/reference/index.html and also when requesting help on it from within R. In both places it is referred as a distance function and is named `cosine_dist`. But of course you are quite right that users sho

[2020-05-24 11:31] HajkD commented on #23
Hi Andy,

Brilliant. Then I know what to work on.

I think you are right. It should be more practical, so I may rename the functions in the new version (although I am hesitant, because I am not aware of all the tool/scripts/etc that may build upon this notation).

Best wishes,
Hajk

[2020-06-29 11:34] V-Z opened #24 "Parallel support?"
I wonder if there could be any way to parallelize computing of the distances. This would be extremely useful especially for large data sets. Just a small enhancement suggestion. :-)

[2020-06-29 16:44] HajkD commented on #24
Sure :) This is on my agenda and I will try to get this done once I have a longer stretch of time for coding. Do you have any suggestion on how to best approach this or is this only a general feature request?

[2020-06-30 09:07] V-Z commented on #24
Cool :-) My experience with `Rcpp`/`C++` is exactly zero, so I'm not sure how helpful I can be here... :-( I always did all my needed parallelization with the `parallel` package - `parLapply` and relatives. This use to be straightforward, but doesn't work on Windows (I'm Linux-only). If I look at Your code correctly, I think it should be possible to rewrite the `for` loop(s) in `DistMatrixNoUnit.R

[2020-07-01 23:46] HajkD commented on #24
Perfect, I will look into this!

[2020-11-23 10:09] jesi-rgb opened #25 "Disabling message "Metric: [metric]; Comparing x vectors""
Hello, droslab! First, thanks for such a thoughtful and carefully written job on this library.

My only problem with the library is the output

`Metric: [metric]; Comparing x vectors.`

which in my particular case says

`Metric: 'euclidean'; Comparing 2 vectors.`

Since I am doing so many comparisons, the output gets populated with this message thousands of times and it is difficult to read the ac

[2020-11-24 15:30] HajkD commented on #25
Hi Jesús,

I am very happy to hear that you enjoy working with `philentropy` :)

When you install the developer version of `philentropy` directly from GitHub, then
you will find a new argument `mute_message` that you can set to `TRUE`.

[code]
[code]

Alternatively, you can also always use the `suppressMessages(distance(...))` function to suppress message calls.

Does this solve your issue?

Best

[2020-11-24 16:44] jesi-rgb commented on #25
Hey, Hajk! Thank you very much for your quick and friendly answer!

Currently I am running the CRAN version of the library, but will for sure try the Github one once I finish the project.

On the other hand, I am still a newbie working with R and didn't know about the supressMessages function, but works flawlessly. So thank you so much for that piece of advice!

Again, thanks for this awesome resp

[2020-11-24 16:44] #25 closed

[2021-02-22 20:03] scfmolina commented on #24
Hello! Here is an example of parallelizing the calculation of distances between matrices with c ++ using RcppParallel https://gallery.rcpp.org/articles/parallel-distance-matrix/
I'm not a C++ developer at all but I'm learning (slowly) for a project so I could try to implement some of them meanwhile learning c++ ?

[2021-02-22 20:15] fedemolina commented on #24
Hello! Here is an example of parallelizing the calculation of distances between matrices with c ++ using RcppParallel https://gallery.rcpp.org/articles/parallel-distance-matrix/

[2021-02-22 22:39] HajkD commented on #24
Hi Federico,

Very cool! Thank you very much for sharing this!

I hope I can find some developer time in the near future to get this implemented.

Many thanks,
Hajk

[2021-02-23 13:37] fedemolina commented on #24
I started learning c ++ very recently, maybe (if you agree) I could try to implement some distances to practice c ++. I am not an expert by any means and I don't have much time, but I could give it a try.

[2021-02-23 18:36] HajkD commented on #24
Sure! Having some working examples would be great. I would also look over the code and there is no rush!

Thank you very much for your help with this!

Cheers,
Hajk

[2021-07-08 19:43] joshisanonymous opened #26 "KL returns negative values?"
First, thank you so much for this package. Second, I'm getting negative results for some reason when using the KL function in cases where the two probability distributions that I'm comparing are expected to be nearly identical. My distributions are very large (over 4 million column matrices) and contain many zeros, and this seems to be the problem. I'm not very familiar with the math behind KL div

[2021-07-13 16:28] Nowosad opened #28 "Adding new cpp functions"
Dear @HajkD,

I am a regular user of **philentropy** as I find it very useful.
The package is usually very fast, but I have some cases when the current speed is not enough. Therefore, I added some new Rcpp functions:

1. `single_distance` - to calculate a distance between two vectors without the need to `rbind` them first
2. `dist_one_to_many()` - to calculate distances between one vector and many

[2021-07-14 17:22] Nowosad commented on #28
I have updated the benchmark. `f5()` uses `dist_many_many()` function - it could be related to https://github.com/drostlab/philentropy/issues/22.

[code]

<sup>Created on 2021-07-14 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-07-20 17:41] HajkD commented on #26
Hi Josh,

Many thanks for your fantastic question and I am glad to hear that you find `philentropy` useful!

You are absolutely correct, the KL distance or divergence is always analytically defined as `>=0`. However, when
implementing these formulas, there are some technical issues that I had to take into account:

- `division by zero`
- `log 0`

Analytically, these cases would simply be set to `0

[2021-07-29 08:13] Nowosad opened #29 "`distance` with `as.dist.obj=TRUE` does not work correctly when the input data has 2 rows"
In the case of an input object with 2 rows, the R `dist()`function returns an output of length 1 (a distance between the first and the second row). However, the `distance()` function  with `as.dist.obj=TRUE` returns an empty object in these case:

[code]

<sup>Created on 2021-07-29 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-07-29 08:19] Nowosad commented on #29
Possible solution is to slightly modify the `distance()` code at https://github.com/drostlab/philentropy/blob/c15b7815672bcf800b9a35d5824612638775a67b/R/distance.R#L968:

[code]

[2021-07-29 09:57] HajkD commented on #29
Hi Jakub,

This is a fantastic suggestion! Thank you very much for catching this!

I now added your suggestions and please feel free to test whether it is sufficient.

[code]

P.S. Sorry for the delay on your your pull request, I am a bit delayed, but I am working on it!

[2021-07-29 15:38] Nowosad commented on #29
Thanks!

PS No problem - I can wait.

[2021-07-29 15:38] #29 closed

[2021-07-30 10:46] HajkD commented on #26
I assume the issue has been solved?

[2021-07-30 10:46] #26 closed

[2021-08-18 13:25] HajkD commented on #28
Hi @Nowosad

I am very happy with the proposed changes and will now merge them into the master branch. Your help with improving `philentropy` is greatly appreciated!

Many thanks,
Hajk

[2021-08-18 13:25] #28 closed

[2021-08-20 12:41] HajkD commented on #22
Hi @jfsoubliere,

Jakub was very kind and fantastic and added a `many to many` feature for matrix comparisons. Would it be possible to check if it fulfils the purpose you had in mind (see #28)?

If so, we can also close this issue and can document this new feature in the `NEWS` section.

Many thanks,
Hajk

[2021-08-20 12:49] Nowosad opened #30 "Distances.Rmd statement"
Hi @HajkD, while working on the new vignette, I read the old ones. The `Distances.Rmd` one states:

I have done some testing, and to my surprise, the above statement is not universally true (at least for larger vectors). `distance()` and `euclidean()` have similar performances for larger vectors, and are slower than `dist()`. This is not an issue - I just wanted to let you know. Feel free to close

[2021-08-20 12:56] HajkD commented on #30
Hi Jakub,

This is awesome! I wasn't aware of this and of course we need to address this. Do you already have an idea or thought on how we can make our `philentropy` functions faster for bigger vectors and maintain its superior speed also for large vectors? Otherwise, I will of course tone down the claims in the vignette.

Many thanks!
Hajk

[2021-08-20 13:52] Nowosad commented on #30
Sadly, I do not know how to make it faster.

[2021-08-20 14:25] HajkD commented on #30
No problem. I will have a look at it when I have some deep focus time.

[2021-11-21 10:18] Nowosad opened #32 "CRAN"
Hi @HajkD do you have any plans to update the CRAN version of the package? I am asking because I plan to submit {supercells} (https://github.com/Nowosad/supercells) to CRAN in a near future, and it depends on philentropy 0.6.

[2021-11-21 11:35] HajkD commented on #32
Hi @Nowosad

I was hoping to find some time before Xmas to work on speeding up the code for large vector computations before re-submitting to CRAN, but I am happy to already submit an earlier version before if this helps.

Cheers,
Hajk

[2021-11-21 11:41] Nowosad commented on #32
Hi @HajkD - yes, I can wait till the end of the year. Best, Jakub

[2022-02-03 10:32] Ni-Ar opened #33 "JSD with 0-1 bound values"
Hi,

I have a matrix (called `mat`) with percentages values (bound between zero and 1) and I'd like to use the `JSD` function.

To avoid the `unit = log` returning negative values I can do `JSD(x = 2^mat, unit = "log2")` but in this case what should `est.prob` be? `NULL` or `"empirical"`?

As I read from the help:

Means that the estimated probabilities would be calculated on the `2^mat` input val

[2022-02-15 17:07] Nowosad commented on #32
Thank you, Hajk!

[2022-02-15 17:07] #32 closed

[2022-02-22 18:02] HajkD commented on #33
Hi Nicco,

Yes, you got it absolutely correct:

 Estimated probabilities are calculated on the `2^mat` input values and in this case you should use `est.prob = NULL`.

I hope this helps?

Cheers,
Hajk

[2022-02-22 18:28] Ni-Ar commented on #33
Hi @HajkD , thanks a lot for clarifying that:
[code]
is the correct use for bounded values between zero and 1 in `mat`.
Maybe just specify in the documentation that the estimated probabilities are from the input count matrix before transformation? As the definition in the `help` "as non-probability vectors" for `est.prob`  might not be very clear for people without a solid statistical background :

[2022-03-03 13:41] HajkD commented on #30
Hey @Nowosad,

I finally found some time to look into this!

The issue (computational overhead) comes from the matrix sub-indexing in `euclidean(x[1, ], x[2, ], FALSE)`. When you use the vector itself (the data structure used as input in `euclidean()`) it works like a charm. Could you please confirm?

[code]

[code]

I will change this example in the vignette.

Many thanks,
Hajk

[2022-03-03 18:19] Nowosad commented on #30
Confirmed! Thanks.

[2022-03-03 18:19] #30 closed

[2022-04-11 11:33] #33 closed